@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body{
    /*display: flex;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin: 0;*/
    background: #131313;
    /*color: lightgreen;*/
    /*font-size: 96px;*/
    /*font-family: 'Fira Mono', monospace;*/
    /*letter-spacing: -7px;*/
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.wek{
    /*display: flex;*/
    /*width: 100vw;*/
    /*!*height: 100vh;*!*/
    /*align-items: center;*/
    /*justify-content: center;*/
    margin: 0;
    color: lightgreen;
    font-size: 96px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -7px;
}

.subtitle{
    margin: 0;
    color: lightgoldenrodyellow;
    font-size: 15px;
    font-family: 'Fira Mono', monospace;
    font-style: italic;
    opacity: 0.8;
    /*letter-spacing: -7px;*/
}

.wek{
    animation: glitch 1s linear infinite;
}

.typewriter p {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid lawngreen; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation:
            typing 1.5s steps(11, end),
            blink-caret .5s step-end infinite;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: lawngreen }
}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

div:before,
div:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

div:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg);
    }
}

div:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg);
    }
}